nav {
    display: flex;
    justify-content: end;
    height: 1.4em;
    background-color: rgb(45, 168, 96);
    font-size: 2em;
    
  }

nav a {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    color: rgb(205, 218, 132);
    transition: .3s ease-in-out;
  }

  nav a:hover {
    transform: scale(1.1);
    text-shadow: rgb(205, 218, 132) 5px 5px 10px;
  }